.section1 {
    font-size: 4.5em;
    padding-top: 8rem;
    margin: auto;
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
}

.headline {
    width: 55%;
    line-height: 120%;
}

a {
    cursor: pointer;
}
